<html ng-app="kpApp">
<head>
	<meta charset="UTF-8" />
	
	<title>柯文哲相簿集</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<style>
		.album{	
			cursor:pointer;
		}
		
		.photo{
			padding:4px;
		}
	</style>
</head>
<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="index.html" class="navbar-brand">柯文哲 API 範例站</a>
	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	      <ul class="nav navbar-nav">
	        <li >
	          <a href="index.html">文章範例</a>
	        </li>
	        <li class="active">
	          <a href="album.html">相簿範例</a>
	        </li>
	        <li>
	          <a href="video.html">影片範例</a>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://kptaipei.tw" target="_blank">柯文哲官網</a></li>
	        <li>
	          <a href="http://unlimited.kptaipei.tw" target="_blank">野生官網活動介紹</a>
	        </li>	        
	      </ul>
	    </nav>
	  </div>
	</header>
	<div class="container"  ng-controller="AlbumCtrl as album">
		
		<div class="col-md-4">
			<h2> 相簿目錄</h2>
			<ul class="categories">
				<li class='album' ng-repeat="item in album.albums" ng-click="album.clickOnAlbum(item.id)">{{item.title}}</li>
			</ul>
		</div>
		<div class="photo-container col-xs-12 col-sm-6 col-md-8 col-xs-6 ">
			<h2>{{album.set.title}}</h2>
			<ul class="photos row">
				<li class="col-md-4 photo" ng-repeat="item in album.album.photos"><a target="_blank" ng-href="{{item.link}}"><img class="img-rounded img-responsive" ng-src="{{item.images.medium}}"/></a></li>
			</ul>
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.min.js"></script>	
	<script src="app.js"></script>	
</body>
</html>