<html ng-app="kpApp">
<head>
	<meta charset="UTF-8" />
	
	<title>柯文哲影片集</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<style>
		.category,.article{	
			cursor:pointer;
		}
	</style>
</head>
<body ng-controller="MainCtrl">
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="index.html" class="navbar-brand">柯文哲 API 範例站</a>
	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	      <ul class="nav navbar-nav">
	        <li >
	          <a href="index.html">文章範例</a>
	        </li>
	        <li>
	          <a href="album.html">相簿範例</a>
	        </li>
	        <li class="active">
	          <a href="video.html">影片範例</a>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://kptaipei.tw" target="_blank">柯文哲官網</a></li>
	        <li>
	          <a href="http://unlimited.kptaipei.tw" target="_blank">野生官網活動介紹</a>
	        </li>	        
	      </ul>
	    </nav>
	  </div>
	</header>
	<div class="container">
		
		<div class="col-md-4">
			<h2> 播放清單列表</h2>
			<ul class="categories">
				<li class='playlist' ng-repeat="item in categories" ng-click="clickOnCategory(item.id)">{{item.title}}
					<ul class='videos'>
						<li class='video' ng-repeat="video in item.videos" ng-click="clickOnVideo($event, video)">{{video.title}}</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="page col-xs-12 col-sm-6 col-md-8 col-xs-6">
			<h2>{{content.title}}</h2>
			<iframe ng-src='{{content.url}}' width='600' height='450' ></iframe>
			<br />
			<pre>{{content.description}}</pre>
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
	<script>
		var API_KEY = "YOUR_API_KEY"
		var API_SERVER = "http://api.kptaipei.tw/v1/";

		var app = angular.module('kpApp', []);

		app.controller('MainCtrl', ['$scope', '$http', '$sce', function($scope, $http, $sce){
			$scope.categories = {};
			$http.get(API_SERVER+"videos/?accessToken="+API_KEY).success(function(results) {
				console.log(results);
				var initial_category_id;
				angular.forEach(results.data,function(item,ind){
					initial_category_id = initial_category_id || item.id;
					$scope.categories[item.id] = item;
					$scope.categories[item.id].videos = [];
				});
				$scope.clickOnCategory(results.data[0].id);
			});

			$scope.clickOnCategory = function(category_id) {
				$http.get(API_SERVER+"videos/"+category_id+"?accessToken="+API_KEY).success(function(results) {
					console.log(results);
					var initial_playlist;
					$scope.categories[category_id].videos = [];
					angular.forEach(results.data,function(item){
						initial_playlist = initial_playlist || item;
						$scope.categories[category_id].videos.push(item);
					});
					$scope.clickOnVideo(undefined, initial_playlist);
				});
			};

			$scope.clickOnVideo  = function($event, video) {
				if(typeof($event) != 'undefined') {
					$event.preventDefault();
					$event.stopPropagation();
				}
				$scope.content = video;
				$scope.content.url = $sce.trustAsResourceUrl('http://www.youtube.com/embed/' + video.id);
			};

		}]);

	</script>

</body>
</html>