<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />

	<title>柯文哲文章集</title>

	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/global.css">
</head>
<body ng-app="kpApp" ng-controller="MainCtrl as main">
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand">柯文哲 API 範例站</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="index.html">文章範例</a>
					</li>
					<li>
						<a href="album.html">相簿範例</a>
					</li>
					<li>
						<a href="video.html">影片範例</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://kptaipei.tw" target="_blank">柯文哲官網</a></li>
					<li>
						<a href="http://unlimited.kptaipei.tw" target="_blank">野生官網活動介紹</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">

		<div class="col-md-4">
			<h2> 文章類別目錄</h2>
			<ul class="categories">
				<li class='category' ng-repeat="(key, item) in main.categories" ng-click="main.clickOnCategory(item.id)">{{item.name}}
					<ul class='articles'>
						<li class='article' ng-repeat="(key, article) in item.posts" ng-click="main.clickOnArticle($event, article)">{{article.title}}</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="page col-xs-12 col-sm-6 col-md-8 col-xs-6" ng-bind-html="main.content">

		</div>
	</div>

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-route.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/values.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>