<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8" />

	<title>柯文哲文章集</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="kpApp" ng-controller="MainCtrl as main">
<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">首頁</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">文章範例</a>
        </li>
        <li>
          <a href="#">相簿範例</a>
        </li>
        <li>
          <a href="#">影片範例</a>
        </li>
        <li>
          <a href="#">音樂範例</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
	    <li><a href="http://kptaipei.tw" target="_blank">柯文哲官網</a></li>
        <li><a href="http://unlimited.kptaipei.tw" target="_blank">野生官網活動介紹</a></li>
        <li><a href="http://unlimited.kptaipei.tw/docs/" target="_blank">API 說明</a></li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>柯文哲野生官網
          <p class="lead"></p>
        </h1>
      </div>
	  <!--
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">

            </div>
          </div>
        </div>
      </div>
	  -->
    </div>
  </div><!-- /cont -->
</div>




<div class="container">
  <div class="row" id="content">

	<div class="col-md-12">
	  <div class="row">
		<ul class="nav nav-pills">
			<li class='category'
				ng-repeat="(key, item) in main.categories"
				ng-click="main.clickOnCategory(item.id)"
				ng-class="(main.current_category_id === item.id) ? 'active' : ''">
				<a href="" ng-bind="item.name"></a>
			</li>
		</ul>
	  </div>
	</div>

    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
		  <div class="row" ng-repeat="(key, article) in main.categories[main.current_category_id].posts">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img ng-src="{{article.thumbnail}}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3 ng-bind="article.title"></h3>
              <div class="row">
                <div class="col-xs-9">
                  <p ng-bind="(article.plain_content | limitTo:150) + '...'"></p>
                  <p class="lead"><a ng-href="{{article.url}}" class="btn btn-default" target="_blank">Read More</a></p>
                  <p class="pull-right"><span class="label label-default" ng-bind="article.author"></span></p>
                  <ul class="list-inline"><li><a href="#" ng-bind="article.post_date | date:'yyyy/MM/dd hh:mma'"></a></li>
				  </ul>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
        </div>
      </div>
   	</div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/DoctorKoWJ" target="_blank"><i class="icon-facebook icon-2x"></i></a></li>
          <li><a href="https://plus.google.com/+%E6%9F%AF%E6%96%87%E5%93%B2/posts" target="_blank"><i class="icon-google-plus icon-2x"></i></a></li>
        </ul>

      </div>
      <div class="col-sm-6">
          <p class="pull-right">
			2014 Copyleft &copy;
			<a href="https://www.facebook.com/will.fans" target="_blank">Will 保哥的技術交流中心</a></p>
      </div>
    </div>
  </div>
</footer>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="http://fb.me/react-0.12.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.1.js"></script>
	<script type="text/jsx">
	
	var NewsBox = React.createClass({

		fetchNewsFromId: function(id){
			$.ajax({
				url: "http://api.kptaipei.tw/v1/category/" + id + "?accessToken=YOUR_API_KEY",
				dataType:"json",
				success: function(data){
					this.setState({
						newsList: data.data
					});
				}.bind(this),
				error: function(xhr, status, err) {
        			console.log("Error fetching albums");
        		}
			});
		},

		getInitialState: function(){
			return {
				categories: [],
				newsList: []
			};			
		},

		componentDidMount: function(){
			$.ajax({
				url: "http://api.kptaipei.tw/v1/category/?accessToken=YOUR_API_KEY",
				dataType: "json",
				success: function(data){
					this.setState({
						categories: data.data
					});
					this.fetchNewsFromId(this.state.categories[0].id);
				}.bind(this),
				error: function(xhr, status, err) {
        			console.log("Error fetching albums");
        		}
			});
		},

		render: function() {
			return (
				<div>
					<NewsHeader categories={this.state.categories} fetchNewsFromId={this.fetchNewsFromId}/>
					<NewsList list={this.state.newsList}/>
				</div>				
			);
		}	
	});
	
	var NewsHeader = React.createClass({

		render: function() {
			var categoryNodes = this.props.categories.map(function(category, i){
				return (
					<Category name={category.name} id={category.id} fetchNewsFromId={this.props.fetchNewsFromId}/>
				);
			}, this);
			return (
				<div className="col-md-12">
	  				<div className="row">
						<ul className="nav nav-pills">
							{categoryNodes}
						</ul>
	  				</div>
				</div>
			);
		}	
	});
	
	var Category = React.createClass({	

		handleSelectCategory: function(e){
			this.props.fetchNewsFromId(this.props.id);
		},	

		render: function() {
			return (
				<li className="category" onClick={this.handleSelectCategory}>
					<a>{this.props.name}</a>
				</li>
			);
		}	
	});
	
	var NewsList = React.createClass({	
		render: function() {
			var newsNodes = this.props.list.map(function(story){
				return (
					<News story={story}/>
				);
			});
			return (
				<div className="col-md-12">
			      <div className="panel">
			        <div className="panel-body">
					  {newsNodes}
			          <hr />					  
			        </div>
			      </div>
			   	</div>		
			);
		}	
	});
	
	var News = React.createClass({

		getDefaultProps: function(){
			return {
				storyStyle: {
					width: "100px",
					height: "100px"
				}
			};
		},	
		render: function() {
			return (
				<div className="row">
			        <br/>
			        <div className="col-md-2 col-sm-3 text-center">
			            <a className="story-img" href="#"><img src={this.props.story.thumbnail} style={this.props.storyStyle} className="img-circle"/></a>
			        </div>
			        <div className="col-md-10 col-sm-9">
			            <h3>{this.props.story.title}</h3>
			            <div className="row">
			                <div className="col-xs-9">
			                  <p>{this.props.story.plain_content}</p>
			                  <p className="lead"><a href={this.props.story.url} className="btn btn-default" target="_blank">Read More</a></p>
			                  <p className="pull-right"><span className="label label-default">{this.props.story.author}</span></p>
			                  <ul className="list-inline"><li><a href="#">{this.props.story.post_date}</a></li>
							  </ul>
			                </div>
			                <div className="col-xs-3"></div>
			            </div>
			            <br/><br/>
			        </div>
			    </div>
			);
		}	
	});

	React.render(<NewsBox />, document.getElementById("content"));
	
	</script>
</body>
</html>